<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FD124811E6B465100A8EE1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FD124951E6B465500A8EE1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FD124A01E6B465600A8EE1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
